body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

a{
    font-family: "Montserrat", sans-serif;
}

a:hover{
    color: #EAF6F6;
}

hr{
    border-style: dotted none none;
    border-color: #EAF6F6;
    border-width: 10px;
    width: 5%;
    margin: 100px auto;
}

h1 {
  margin: 50px auto 0 auto;
  width: 50%;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  /* line-height: 2; */
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}


h3,a {
    color: #11999E;
}

h3 {
    font-family: "Montserrat", sans-serif;
}

p{
    line-height: 2;
}


.top-container {
    position: relative;
    background-color: #e4f9f5;
    padding-top: 100px;
    
    
}

.middle-container {
    margin: 100px 0;
}

.middle-container p {
    padding-bottom: 30px;
}

.para-one{
    width: 30%;
    margin: auto;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left:200px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 5%;
}

.mountain{
    padding: 10px;
}

.profile_img{
    /* padding-top: 50px; */
    width: 16%;
}

.bar-chart-img{
    margin-right: 30px;
    float: left;
    width: 25%;
}

.target-img{
    margin-left: 30px;
    float: right;
    height: 20%;
    width: 25%;
}
 
.skill-row{
    text-align: left;
    margin: 100px auto 100px auto;
    width: 50%;
    
}


.bottom-container{
    padding: 40px;
    background-color: #66BFBF;
}
.footer-link{
    text-decoration: none;
    padding: 20px;
    color: #11999E;
}
.copyright{
    font-size: 0.75em;
    padding: 1em auto;
    color: #EAF6F6;
}

.contactus-bottom{
    width: 40%;
    margin: auto;
}

/* .bar-skill-discription{
    clear: left;
}


.target-discription{
    clear: right;
} */


.btn {
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    width: 149px;
    font-size: 20px;
    padding: 31px;
    background-color: #11999E;
    border: solid #FFFFFF 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }